.ca__job{
  min-height: 100vh;
  background-color:#f1efef;
  width:100%;
  .ca__job__main{
    padding: 50px 30px;
    .ca__job__main__keepca{
      clear: both;
      .ca__job__main__keepca__title{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .ca__job__main__keepca__detail{
        max-height: 725px;
        overflow: scroll;
        .ca__job__main__keepca__detail__table{
          width:100%;
          .ca__job__main__keepca__detail__table__tr{
            
            .ca__job__main__keepca__detail__table__tr__th__name{
              width: 20%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
              
            }
            .ca__job__main__keepca__detail__table__tr__th__position{
              width: 35%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__th__salary{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__th__location{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__th__status{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            //.ca__my__main__keepca__table__tr
            .ca__job__main__keepca__detail__table__tr__td__name{
              background-color: #f3e8e8;
              padding-left: 5px;
              height: 40px;
              border: solid 1px #9a9a9a;
              font-weight: bold;
              a{
                text-decoration: none;
                color:#2490D0;
              }
            }
            .ca__job__main__keepca__detail__table__tr__td__position{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__td__salary{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__td__location{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
            .ca__job__main__keepca__detail__table__tr__td__status{
              background-color: #ffffff;
              padding-left: 20px;
              border: solid 1px #9a9a9a;
              .ca__job__main__keepca__detail__table__tr__td__action__apply{
                float:left;
                margin-right: 26px;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
              }
              .ca__job__main__keepca__detail__table__tr__td__action__detail{
                float:left;
                margin-right: 26px;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
              }
              .ca__job__main__keepca__detail__table__tr__td__action__remove{
                float:left;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .ca__job__main__keepca__new{
        clear: both;
        float: right;
        padding-top: 10px;
      }
    }
  }
}