.page{
width: 100vw;
height: 100vh;
background-color: red;
position: absolute;
}
.content__box{
position: relative;
width: auto;
height: auto;
}

.medium__left{
  width: 800px;
  height: 100vh;
  background-color: gray;
  float: left;
  // padding: 40px;
}
.search{
height: 50px;
background-color: green;
margin: 40px;
}
.maincontent{
  // width: 50px;
  height: 80%;
  background-color: blue;
  margin: 40px;
}
.midium__right{
  width: 500px;
  height: 100vh;
  background-color: green;
  float: right;
  position: relative;
}
.chat__box{
  height: 100px;
  width: 100%;
  background-color: pink;
  position: absolute;
bottom: 0px
}
.comment{
  // width: 100%;
  height: calc(100% - 180px);
background-color: black;
padding: 30px;
}