.top{
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: absolute;
    &__contentbox{
      position: relative;
      width: auto;
      height: auto;
      &__left{
        width: 100%;
        height: 100vh;
        background-color: rgb(251, 251, 251);
        float: left;
        // position: fixed;
    // padding: 40px;
        &__search{
          height: 50px;
          // background-color: green;
          margin: 40px;
          // box-sizing: border-box;
          border: none;
          &__box{
            height: 50px;
            width:90%;
            border: 1px solid #999;
            padding: 3px 5px;
            border-radius: 20px;
            overflow: hidden;
          }
          &__button{
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.8em;
            border: none;
            background: none;
            color: rgb(213, 38, 31);
            outline : none;
            display: inline-block;
            vertical-align: middle;
          }
        }
        &__maincontent{
          height: 80%;
          // background-color: blue;
          margin: 0 40px 40px 40px;
          overflow: auto;
          overflow-y:scroll;
          width: 93%;
          float:left;
          box-sizing: border-box;
          &__jobbox{
            box-sizing: border-box;
            height: 350px;
            // background-color: gray;
            padding: 0.5em 1em;
            margin: 2em 0;
            // color: #5d627b;
            background: white;
            border-top: solid 5px  rgb(213, 38, 31);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            &__upbox{
              box-sizing: border-box;
              height: 30px;
              // background-color: yellow;
              margin-bottom: 130px;
              &__left{

                float: left;
                // width: 50%;
                font-size: 2.0rem;
                letter-spacing: 0.1em;
                // background-color: red;
                a{
                  text-decoration: none;
                  color:#2490D0;
                }
              }
              &__photo{
                height: 125px;
                width: 840px;
                float: right;
                &__1{
                  margin-left: 30px;
                  float: left;
                  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
                }
              }
              &__right{
                // float: right;
                // width: 50%;
                // background-color: green;
                &__1{
                  // width: 100px;
                  display: inline-block;
                  background-color: rgb(252, 252, 182);
                  padding: 3px;
                  margin-right: 15px;
                  border-radius: 5px;
                  border: solid 1px #bbb;
                  a{
                    text-decoration: none;
                    color: black;
                  }
                  a:hover{
                    color: red;
                  }
                }
                &__3{
                  // width: 100px;
                  display: inline-block;
                  background-color: rgb(165, 224, 252);
                  padding: 3px;
                  margin-right: 15px;
                  border-radius: 5px;
                  border: solid 1px #bbb;
                  a{
                    text-decoration: none;
                    color: black;
                  }
                  a:hover{
                    color: red;
                  }
                }
              }
            }
            &__downbox{
              clear: both;
              // height: 150px;
              width: 100%;
              margin:0 auto;
              border-radius:10px;
              border:2px solid #666;
              border-spacing: 0;
              overflow:hidden;
              border-collapse: separate;

              &__left{
                width: 20%;
                height: 20px;
                padding:2px;
                border-bottom:1px solid #666;
                background:#f3e8e8;
                border:1px solid #666;
              }
              &__right{
                width: 80%;
                height: 20px;
                padding:2px;
                text-align: center;
                border-bottom:1px solid #666;
                border-left:1px solid #666;
                border:1px solid #666;
              }
            }
            .top__contentbox__left__maincontent__jobbox__detail{
              float:right;
              background-color: rgb(250, 250, 134);
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
              margin-top: 7px;
              a{
                text-decoration: none;
                color: #000000;
              }
              a:hover{
                color: red;
                background-color: yellow;
              }
              .top__contentbox__left__maincontent__jobbox__detail__text{
                padding-left: 5px;

              }
            }
          }
        }
        &__sub{
          width:35%;
          margin-top: 32px;
          background-color: #666;
          float:right;
          font-size: 1.3rem;
          letter-spacing: 0.1em;


        }
      }

      &__right{
        width: 500px;
        height: 100vh;
        background-color: gray;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: all 0.2s;
        transform: translate(500px);


        &__chatbox{

          &__comments{
            height: calc(100% - 120px);
            // background-color: red;
            padding: 30px;
            overflow: auto;
            overflow-y:scroll;

            &__commentleft{
              // float: left;/*吹き出しをbms_messagesに対して左寄せ*/
              line-height: 1.3em;

              cposition: relative; /* 三角の位置を固定するために設定 */
              max-width: 300px;
              margin: 10px 20px 20px; /* 上 左右 下のマージン */
              padding: 8px 15px; /* ふきだし内の余白 */
              background: #f0f0f0; /* 背景色 */
              text-align: left; /* テキストの揃え */
              border-radius: 15px;

              &__box{
                margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
                max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
                font-size: 16px;

                &__content{
                  padding: 20px;/*文字や画像（コンテンツ）の外側に隙間を入れる*/
                }
              }
            }
            &__leftimage{
              float: left;
            }


            &__commentright{
              // float: right;/*吹き出しをbms_messagesに対して左寄せ*/
              line-height: 1.3em;

              position: relative; /* 三角の位置を固定するために設定 */
              max-width: 300px;
              margin: 10px 20px 20px 100px; /* 上 左右 下のマージン */
              padding: 8px 15px; /* ふきだし内の余白 */
              background: #f0f0f0; /* 背景色 */
              text-align: left; /* テキストの揃え */
              border-radius: 15px;


              &__box{
                margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
                max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
                font-size: 16px;

                &__content{
                  padding: 20px;/*文字や画像（コンテンツ）の外側に隙間を入れる*/
                }
              }
            }
            &__rightimage{
              float: right;
            }

            &__clear{
              clear: both;

            }

          }

          &__submit{
            height: 120px;
            width: 100%;
            // background-color: pink;
            position: absolute;
            bottom: 0px;

            &__message{
              width: calc(100% - 80px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
              line-height: 16px;
              padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
              border: 1px solid #ccc;
              border-radius: 4px;/*角丸*/
              text-align: left;/*文字を左寄せ*/
              box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
              box-sizing: border-box;
              margin: 0 0 0 5px;
              }
            &__btn{
              width: 70px;
              height: 48px;
              margin: 0 2px 0 0;
              font-size: 16px;
              line-height: 3em;
              float: right;/*bms_sendに対して右寄せ*/
              color: #fff;
              font-weight: bold;
              background: #bcbcbc;
              text-align: center;/*文字をボタン中央に表示*/
              border: 1px solid #bbb;
              border-radius: 4px;/*角丸*/
              box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
              }
              &__btn:hover{
                background: #13178E; /*マウスポインタを当てた時にアクティブな色になる*/
                cursor: pointer;
          }

          }

        }

      }
      &__right.open {
        transform: translate(0);
      }
    }
  }

  // ここからニューコンテンツ
.jobIndex {
  width: 100%;
  &__inner {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    &__left {
      width: calc(100% - 360px);
      float: left;
      margin: 20px 0 0 20px;
      &__wrapper {
        &__header {
          padding:12px;
          text-align: center;
          background-color: #fdaa37;
          color: #fff;
          span {
            font-weight: bold;
          }
        }
        &__content {
          height: 180px;
          background-color: #fbfbfb;
          margin: 15px 0 15px 0;
          filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
          &:hover {
            opacity: 0.9;
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
          }
          &__imgLink {
            &__box {
              float: left;
            }
          }
          &__jobContents {
            padding: 20px;
            float: right;
            width: calc(100% - 290px);
            &__up {
              &__text {
                &__typename {
                  background-color: #fdaa37;
                  padding: 4px;
                  font-size: 14px;
                  color: #fff;
                  border-radius: 5px;
                }
                &__time {
                  float: right;
                  font-size: 14px;
                  padding: 4px;
                }
              }
              &__title {
                font-weight: bold;
                font-size: 16px;
                margin: 16px 0;
              }
              &__cdt {
                color:  #C34035;
                font-size: 14px;
              }
            }
            &__under {
              position: relative;
              &__link {
                &__btn {
                  display: block;
                  width: 200px;
                  height: 40px;
                  background-color: #C34035;
                  font-size: 14px;
                  color:#fff;
                  border-radius: 5px;
                  line-height: 40px;
                  text-align: center;
                  position: absolute;
                  top: 0;
                  right: 0;
                  &:hover {
                    background-color: #781f18;
                  }
                }
              }
              &__name {
                font-size: 14px;
                font-weight: bold;
                margin: 4px 0 4px;
                color: rgba(0,0,0,0.54);
              }
            }
          }
        }
      }
    }
    &__right {
      width: 300px;
      min-height: 800px;
      margin: 20px 20px 0 20px;
      background-color: #fbfbfb;
      float: left;
      &__sideContent {
        &__title {
          text-align: center;
          padding:6px;
          font-size: 14px;
          background-color: #2d2d2d;
          color: #fff;
        }
        &__box {
          box-shadow: 1px 1px 2px #333;
          margin: 10px 0 10px 0;
          &__link {
            display: block;
            padding: 10px 5px;
            overflow: hidden;
            height: 100px;
            width: 290px;
            text-decoration: none;
            &__left {
              float: left;
              border: 1px solid #e5e5e5;
              &__img {

              }
            }
            &__right {
              float: left;
              width: 140px;
              padding: 5px;
              overflow: hidden;
              &__title {
                font-size: 12px;
                margin: 0 0 3px;
                color: #007ebe;
                &:hover {
                  text-decoration: underline;
                }
              }
              &__text {
                font-size: 10px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
