.job-form {
  width: 100vw;
  height: 100%;
  &__inner {
    margin: 20px auto;
    width: 1220px;

    &__title {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.05em
    }
    &__left {
      background-color: #fbfbfb;
      width: 600px;
      float: left;
      margin-bottom: 40px;
      &__company {
        padding: 40px;
        &__text {
          color: #C34035;
          margin-top: 20px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.1em;
          border-bottom: solid 1px #C34035;
        }
        // ここからフォームのレイアウト
          &__field {
            margin-top: 10px;
            &__label {
              margin-left: 20px;
              letter-spacing: 0.05em;
            }
            &__input {
              margin-left: 20px;
              height: 30px;
              width: 470px;
              font-size: 13px;
            }
            &__input-price {
              margin-left: 20px;
              height: 30px;
              width: 180px;
              font-size: 13px;
            }
            #industry_id {
              margin-left: 20px;
              font-size: 13px;
            }
            #number_of_employee_id {
              margin-left: 20px;
              font-size: 13px;
            }
            #establish_date {
              margin-left: 20px;
              font-size: 13px;
            }
            &__radio {
              margin-left: 20px;
            }
            &__textarea {
              margin-left: 20px;
              font-size: 13px;
              width: 470px;
              height: 150px;
            }
            #age {
              margin-left: 20px;
              font-size: 13px;
            }
            &__checkbox {
              margin-left: 20px;
            }
          }
      }
    }
    &__right {
      background-color: #fbfbfb;
      width: 600px;
      float: right;
      margin-bottom: 40px;
      &__job {
        padding: 40px;
        &__text {
          color: #C34035;
          margin-top: 20px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.1em;
          border-bottom: solid 1px #C34035;
        }
        &__field {
          margin-top: 10px;
          &__label {
            margin-left: 20px;
            letter-spacing: 0.05em;
          }
          &__input {
            margin-left: 20px;
            height: 30px;
            width: 470px;
            font-size: 13px;
          }
          &__radio {
            margin-left: 20px;
          }
          &__textarea {
            margin-left: 20px;
            font-size: 13px;
            width: 470px;
            height: 250px;
          }
          #working_hours {
            margin-left: 20px;
            font-size: 13px;
          }
          #recruitment_period {
            margin-left: 20px;
            font-size: 13px;
          }
          #number_of_recruitment_poeple {
            margin-left: 20px;
            font-size: 13px;
          }
          &__textarea-min {
            margin-left: 20px;
            font-size: 13px;
            width: 470px;
            height: 125px;
          }
          &__price {
            margin-left: 20px;
            height: 30px;
            width: 180px;
            font-size: 13px;
          }
          &__price-second {
            height: 30px;
            width: 180px;
            font-size: 13px;
          }
          &__textarea-mic {
            margin-left: 20px;
            font-size: 13px;
            width: 470px;
            height: 60px;
          }
        }

      }
      &__submittext {
        text-align: center;
      }
      &__submit {
        margin: 40px auto;
        width: 300px;
        height: 80px;
        text-decoration : none;
        display : block;
        color : #fff;
        font-size: 20px;
        letter-spacing: 0.05em;
        border-radius: 10px;
        background-color: #C34035;
        box-shadow: 0px 4px 0 rgba(0, 0, 0, .7);
        padding : 8px;
        transition: 0.2s all ease 0s;
        &:hover {
          background-color: #C34035;
          box-shadow: none;
          transform: translate3d(0, 5px, 0);
        }
      }

    }
  }
}
