.job-form {
  width: 100vw;
  height: 100vh;
  &__inner {
    margin: 40px auto;
    width: 1220px;
    &__title {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.05em
    }
    &__left {
      background-color: #fbfbfb;
      width: 600px;
      float: left;
      &__company {
        padding: 40px;
        &__text {
          margin-top: 20px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.05em;
        }
        &__job {

        }
          &__field {


            &__label {

            }
            &__input {
              margin-top: 5px;
              height: 30px;
              width: 450px;
            }
          }
      }
    }
    &__right {
      background-color: #fbfbfb;
      width: 600px;
      float: right;
      &__job {
        padding: 40px;
        &__text {
          margin-top: 20px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.05em;
        }
        &__field {

          &__label {

          }
          &__input {
            margin-top: 5px;
            height: 30px;
            width: 450px;
          }
        }
      }


    }
  }
}
