.st__my{
  height: 100vh;
  background-color:#fbfbfb;
  width:100%;
  .st__my__header{
    width: 100%;
    background-color: #ffffff;
  }
  .st__my__main{
    padding: 50px 30px;
    .st__my__main__applying{
      .st__my__main__applying__title{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .st__my__main__applying__table{
        width:100%;
        .st__my__main__applying__table__tr{
          border: solid 1px #f5f5f5;
          .st__my__main__applying__table__tr__th__status{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
          }
          .st__my__main__applying__table__tr__th__date{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
          }
          .st__my__main__applying__table__tr__th__name{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
          }
          .st__my__main__applying__table__tr__th__position{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
          }
          .st__my__main__applying__table__tr__th__salary{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
          }
        //.st__my__main__applying__table__tr  ignore
          .st__my__main__applying__table__tr__td__status{
            background-color: gray;
            height: 50px;
          }
          .st__my__main__applying__table__tr__td__date{
            background-color: gray;
            
          }
          .st__my__main__applying__table__tr__td__name{
            background-color: gray;
          }
          .st__my__main__applying__table__tr__td__position{
            background-color: gray;
          }
          .st__my__main__applying__table__tr__td__salary{
            background-color: gray;
          }
        }
      }
      .st__my__main__applying__page{
        float: left;
      }
      .st__my__main__applying__all{
        float: right;
      }
    }
    .st__my__main__keepca{
      clear: both;
      padding-top: 50px;
      .st__my__main__keepca__title{
      }
      .st__my__main__keepca__table{
        .st__my__main__keepca__table__tr{
          .st__my__main__keepca__table__tr__th__name{
            min-width: 150px;
          }
          .st__my__main__keepca__table__tr__th__position{
            min-width: 150px;
          }
          .st__my__main__keepca__table__tr__th__salary{
            min-width: 150px;
          }
          .st__my__main__keepca__table__tr__th__location{
            min-width: 150px;
          }
          .st__my__main__keepca__table__tr__th__action{
            min-width: 150px;
          }
          //.st__my__main__keepca__table__tr
          .st__my__main__keepca__table__tr__td__name{}
          .st__my__main__keepca__table__tr__td__position{}
          .st__my__main__keepca__table__tr__td__salary{}
          .st__my__main__keepca__table__tr__td__location{}
          .st__my__main__keepca__table__tr__td__action{
            .st__my__main__keepca__table__tr__td__action__apply{
              float:left;
              padding-right: 10px;
            }
            .st__my__main__keepca__table__tr__td__action__detail{
              float:left;
              padding-right: 10px;
            }
            .st__my__main__keepca__table__tr__td__action__remove{
              float:left;
            }
          }
        }
      }
    }
  }
}