.student-edit {
  width: 100vw;
  height: 100vh;
  // background-color: #111111;
  &__inner {
    margin: 0 auto;
    width: 980px;
    &__wrapper {
      &__header {
        width: 100%;
        height: 80px;
        // background-color: #BBBBBB;
        &__name {
          font-size: 23px;
          line-height: 80px;
            .fa-user-circle {
              margin-right: 10px;
            }
        }
      }
      &__side {
        width: 220px;
        // background-color:#FFFFDD;
        float: left;
        &__img {
          margin: 0 auto;
          display: block;
        }
        &__content {
          margin-top: 30px;
          margin-bottom: 15px;
          text-align: center;
          &__title {
            font-weight: bold;
          }
        }
        &__menu {
          &__btn {
            display: block;
            color: #333;
            text-decoration: none;
            height: 40px;
            line-height: 40px;
            text-align: center;
            &:hover {
                color: #fff;
                background-color: #C34035;
	          }
          }
        }
      }
      &__main {
        float: right;
        width: calc(100% - 222px);
        border: 1px solid #dcdcdc;
        background-color: #fbfbfb;
        &__inner {
          padding: 36px 48px 40px 48px;
          &__title {
            font-size: 20px;
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: 5px;
          }
          &__form {

            &__field {
              margin-top: 15px;
              padding-bottom: 15px;
              width: 100%;
              border-bottom: 1px solid #dcdcdc;
              &__label {

              }
              &__input {
                float: right;
                font-size: 13px;
                width: 230px;
                margin-right: 100px;
              }
              &__ca-label {
                display: block;
              }
              &__ca-index {
                margin-left: 10px;
              }
            }
            &__submit {
                margin: 0 auto;
                margin-top: 40px;
                display: block;
                height: 40px;
                width:200px;
                border-radius: 10px;
                border: solid 2px #C34035;
                font-size: 14px;
                background-color: #C34035;
                color: #fff;
                &:hover {
                    opacity: 0.8;
                }
            }
          }
        }
      }
    }
  }
}
