.from-wrapper {
  width: 100vw;
  height: 100vh;
  &__inner {
    margin: 60px auto;
    width: 600px;
    background-color: #fbfbfb;
    &__title {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.05em
    }
    &__text {
      margin-top: 20px;
      text-align: center;
      letter-spacing: 0.05em
    }
    &__main {
      margin: 20px auto;
      width: 450px;
      &__formarea {

        &__image {
          position: relative;
          margin: 0 auto 10px auto;
          width: 100px;
          height: 100px;
          background: #C34035;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          &__title {
            transition: opacity .5s;
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(5, 5, 5, .5);
            color: #fff;
          }
          &>input {
            display: none;
          }
          .fa-camera {
            color: #fff;
          }
        }
        &__preview {
          margin: 0 auto;
          display: none;
          text-align: center;
          &.is-active {
            display: block;
          }
          &__pic {
            max-width: 100px;
            margin: 10px;
            padding: 10px;
          }
          &__text {
            font-size: 12px;
          }
        }

        &__field {
          margin-top: 20px;
          &____label {
            font-size: 14px;
            font-weight: 600;
            color: red;

          }
          &__flag {
            margin-left: 5px;
            padding: 4px 8px;
            color: #fff;
            background-color: #C34035;
            font-size: 12px;
            border-radius: 5px;
            letter-spacing: 0.1em

          }
          &__input {
            margin-top: 5px;
            height: 40px;
            width: 450px;
          }
          &__birthday {
            margin-top: 20px;
            &__form {
              height: 40px;
              width: 80px;
            }
          }
        }

        &__submit {
          margin-top: 40px;
          height: 80px;
          width:450px;
          &__btn {
            margin: 0 auto;
            display: block;
            height: 40px;
            width:250px;
            border-radius: 10px;
            border: solid 2px #C34035;
            font-size: 14px;
            color: #C34035;
            &:hover {
		            opacity: 0.8;
	          }
          }
        }
      }
      &__link {
        color: #2490D0;
        text-decoration: none;
        margin-left: 150px;
        padding-bottom: 10px;
        display: block;
        &:hover {
            text-decoration: underline;
            opacity: 0.8;
        }
      }
    }
  }
}
