.st__my{
  background-color:#f1efef;
  width:100%;
  min-height:88vh;
  .st__my__header{
    width: 100%;
    background-color: #ffffff;
    padding-left: 10px;
  }
  .st__my__main{
    padding: 45px 30px;
    .st__my__main__applying{
      .st__my__main__applying__title{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .st__my__main__applying__table{
        width:100%;
        .st__my__main__applying__table__tr{
          .st__my__main__applying__table__tr__th__status{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            
          }
          .st__my__main__applying__table__tr__th__name{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__applying__table__tr__th__position{
            width: 35%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__applying__table__tr__th__salary{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__applying__table__tr__th__location{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
        }
      }
      .st__my__main__applying__detail{
        max-height: 475px;
        overflow: scroll;
        .st__my__main__applying__detail__table{
          width:100%;
          .st__my__main__applying__detail__table__tr{
            .st__my__main__applying__detail__table__tr__td__status{
              background-color: #ffffff;
              height: 40px;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
              .passed{
                background-color: rgb(238, 149, 48);
                padding: 3px;
                color: #ffffff;
              }
              .process{
                background-color: #2490D0;
                padding: 3px;
                color: #ffffff;
              }
              .failed{
                color: #9a9a9a;
              }
            }
            .st__my__main__applying__detail__table__tr__td__name{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 20%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
              a{
                text-decoration: none;
                color:#2490D0;
              }
            }
            .st__my__main__applying__detail__table__tr__td__position{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 35%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .st__my__main__applying__detail__table__tr__td__salary{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .st__my__main__applying__detail__table__tr__td__location{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
          }
        }
      }
      .st__my__main__applying__all{
        float: right;
        padding-top: 10px;
      }
    }
    .st__my__main__keepca{
      clear: both;
      padding-top: 50px;
      .st__my__main__keepca__title{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .st__my__main__keepca__table{
        width:100%;
        .st__my__main__keepca__table__tr{
          .st__my__main__keepca__table__tr__th__name{
            width: 20%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__keepca__table__tr__th__position{
            width: 35%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__keepca__table__tr__th__salary{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__keepca__table__tr__th__location{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
          .st__my__main__keepca__table__tr__th__action{
            width: 15%;
            background-color: #C34035;
            color:#ffffff;
            text-align: center;
            border: solid 1px #9a9a9a;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          }
        }
      }
      .st__my__main__keepca__detail{
        max-height: 250px;
        overflow: scroll;
        .st__my__main__keepca__detail__table{
          width:100%;
          .st__my__main__keepca__detail__table__tr{
            .st__my__main__keepca__detail__table__tr__td__name{
              background-color: #ffffff;
              padding-left: 5px;
              height: 40px;
              border: solid 1px #9a9a9a;
              width: 20%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
              a{
                text-decoration: none;
                color:#2490D0;
              }
            }
            .st__my__main__keepca__detail__table__tr__td__position{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 35%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .st__my__main__keepca__detail__table__tr__td__salary{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .st__my__main__keepca__detail__table__tr__td__location{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .st__my__main__keepca__detail__table__tr__td__action{
              background-color: #ffffff;
              padding-left: 20px;
              border: solid 1px #9a9a9a;
              width: 15%;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
              .st__my__main__keepca__detail__table__tr__td__action__apply{
                float:left;
                margin-right: 26px;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
                a{
                  text-decoration: none;
                  color: #000000;
                }
                a:hover{
                  color:red;
                }
              }
              .st__my__main__keepca__detail__table__tr__td__action__apply__ng{
                float:left;
                margin-right: 26px;
                background-color: rgb(158, 158, 156);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
              }
              .st__my__main__keepca__detail__table__tr__td__action__detail{
                float:left;
                margin-right: 26px;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
                a{
                  text-decoration: none;
                  color: #000000;
                }
                a:hover{
                  color:red;
                }
              }
              .st__my__main__keepca__detail__table__tr__td__action__remove{
                float:left;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
                a{
                  text-decoration: none;
                  color: #000000;
                }
                a:hover{
                  color:red;
                }
              }
              .st__my__main__keepca__detail__table__tr__td__action__ca{
                background-color: gray;
                padding: 3px;
                border-radius: 5px;
                letter-spacing: 0.7em;
              }
              .st__my__main__keepca__detail__table__tr__td__action__recommend{
                float:left;
                background-color: rgb(240, 238, 125);
                padding: 2px;
                border-radius: 5px;
                cursor: pointer;
                a{
                  text-decoration: none;
                  color: #000000;
                }
                a:hover{
                  color:red;
                }
              }
            }
          }
        }
      }
      .st__my__main__keepca__all{
        float: right;
        padding-top: 10px;
      }
    }
  }
}