<div class="student-edit">
  <!-- 外枠 -->
  <div class="student-edit__inner">
    <!-- 内枠 -->
    <div class="student-edit__inner__wrapper">
      <div class="student-edit__inner__wrapper__header">
        <!-- ヘッダー -->
      </div>
      <div class="student-edit__inner__wrapper__side">
        <!-- サイドバー -->
      </div>
      <div class="student-edit__inner__wrapper__main">
          <!-- メインコンテンツ -->
      </div>


    </div>

  </div>

</div>
