<main class = "st__my">
  <header class = "st__my__header">
    雨笠 賞 / 52期 / 担当CA：半谷
  </header>

  <div class = "st__my__main">
    <section class = "st__my__main__applying">
      <div class = "st__my__main__applying__title">
        ユーザー様の応募企業一覧
      </div>
      <div class = "st__my__main__applying__detail">
        <table class = "st__my__main__applying__detail__table">
          <tr class = "st__my__main__applying__detail__table__tr">
            <th class = "st__my__main__applying__detail__table__tr__th__status">
              ステータス
            </th>
            <th class = "st__my__main__applying__detail__table__tr__th__name">
              応募企業名
            </th>
            <th class = "st__my__main__applying__detail__table__tr__th__position">
              ポジション
            </th>
            <th class = "st__my__main__applying__detail__table__tr__th__salary">
              年収
            </th>
            <th class = "st__my__main__applying__detail__table__tr__th__location">
              勤務地
            </th>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>書類選考中</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド1として主にカリキュラムのUX改善
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              100万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              東京
            </td>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>面接選考中</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div2</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド2
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              200万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              大阪
            </td>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>内定済</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div3</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド3
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              300万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              仙台
            </td>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>辞退</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド4
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              400万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              福岡
            </td>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>書類選考中</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド5
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              500万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              北海道
            </td>
          </tr>
          <tr class = "st__my__main__applying__detail__table__tr">
            <td class = "st__my__main__applying__detail__table__tr__td__status">
              <span>書類選考中</span>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__name">
              <a href = "#">株式会社Div6</a>
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__position">
              フロントエンド6
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__salary">
              600万
            </td>
            <td class = "st__my__main__applying__detail__table__tr__td__location">
              沖縄
            </td>
          </tr>
        </table>
      </div>
    </section>
    <section class = "st__my__main__keepca">
      <div class = "st__my__main__keepca__title">
        キープ&CAからのオススメ企業
      </div>
      <div class = "st__my__main__keepca__detail">
        <table class = "st__my__main__keepca__detail__table">
          <tr class = "st__my__main__keepca__detail__table__tr">
            <th class = "st__my__main__keepca__detail__table__tr__th__name">
              企業名
            </th>
            <th class = "st__my__main__keepca__detail__table__tr__th__position">
              ポジション
            </th>
            <th class = "st__my__main__keepca__detail__table__tr__th__salary">
              年収
            </th>
            <th class = "st__my__main__keepca__detail__table__tr__th__location">
              勤務地
            </th>
            <th class = "st__my__main__keepca__detail__table__tr__th__action">
              アクション
            </th>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド1
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              1000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              ラスベガス
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div2</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド2
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              2000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              ロサンゼルス
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div3</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド3
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              3000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              コペンハーゲン
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド4
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              4000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              ワシントンD.C.
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
          <tr class = "st__my__main__keepca__detail__table__tr">
            <td class = "st__my__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div6</a>
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__position">
              サーバーサイド6
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__salary">
              6000万
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__location">
              南極
            </td>
            <td class = "st__my__main__keepca__detail__table__tr__td__action">
              <div class = "st__my__main__keepca__detail__table__tr__td__action__apply">
                応募
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__detail">
                詳細
              </div>
              <div class = "st__my__main__keepca__detail__table__tr__td__action__remove">
                削除
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</main>
