<main class = "ca__job">

  <div class = "ca__job__main">
    <section class = "ca__job__main__keepca">
      <div class = "ca__job__main__keepca__title">
        企業一覧
      </div>
      <div class = "ca__job__main__keepca__detail">
        <table class = "ca__job__main__keepca__detail__table">
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <th class = "ca__job__main__keepca__detail__table__tr__th__name">
              企業名
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__position">
              ポジション
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__salary">
              年収
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__location">
              勤務地
            </th>
            <th class = "ca__job__main__keepca__detail__table__tr__th__status">
              確認
            </th>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド1
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              1000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ラスベガス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div2</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド2
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              2000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ロサンゼルス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div3</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド3
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              3000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              コペンハーゲン
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド4
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              4000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ワシントンD.C.
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド1
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              1000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ラスベガス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div2</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド2
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              2000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ロサンゼルス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div3</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド3
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              3000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              コペンハーゲン
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド4
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              4000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ワシントンD.C.
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド1
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              1000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ラスベガス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div2</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド2
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              2000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ロサンゼルス
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div3</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド3
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              3000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              コペンハーゲン
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド4
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              4000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ワシントンD.C.
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div4</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド4
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              4000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              ワシントンD.C.
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
          <tr class = "ca__job__main__keepca__detail__table__tr">
            <td class = "ca__job__main__keepca__detail__table__tr__td__name">
              <a href = "#">株式会社Div5</a>
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__position">
              サーバーサイド5
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__salary">
              5000万
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__location">
              シリコンバレー
            </td>
            <td class = "ca__job__main__keepca__detail__table__tr__td__status">
              確認
            </td>
          </tr>
        </table>
      </div>
      <div class = "ca__job__main__keepca__new">
        <a href = "#">企業新規登録</a>
      </div>
    </section>
  </div>
</main>
