
<body>
  <div class = "page">
    <div class = "content__box">
      <div class = "medium__left">
        <div class = "maincontent">
          <h3>同期の様子</h3>
          <div>
            求人
          </div>
        </div>
      </div>
      <div class = "midium__right"></div>
    </div>
  </div>
</body>