<main class = "job">

  <div class = "job__main">
    <section class = "job__main__detail">
      <div class = "job__main__detail__title">
        株式会社div / フロントエンジニア
      </div>
      <div class = "job__main__detail__1">
        ▼募集要項
      </div>
      <div class = "job__main__detail__2">
        ▼採用条件
      </div>
      <div class = "job__main__detail__3">
        ▼待遇
      </div>
      <div class = "job__main__detail__4">
        ▼会社概要
      </div>
      <div class = "job__main__detail__5">
        ▼その他
      </div>
      <div class = "job__main__detail__content">
        <table class = "job__main__detail__content__table">
          <tr class = "job__main__detail__content__table__tr">
            <th class = "job__main__detail__content__table__tr__th__top">
              募集要項
            </th>
            <th class = "job__main__detail__content__table__tr__th__blank">
            </th>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              ポジション
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              フロントエンドエンジニア
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              雇用形態
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              正社員
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              職務内容
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              ビューの作成
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              必要業務経験
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              HTML, cssでwebアプリケーションを作った経験
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              就業時間
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              9:00 - 18:00
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              就業時間補足
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              フレックスタイム制
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              休憩時間
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              60分
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              残業の有無
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              無
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              採用時期
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              2019年8月〜12月
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              採用人数
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              2名
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              雇用期間
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              期間の定めのない雇用契約
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              給与形態
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              年俸制
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              基本給
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              月額25万円～40万円
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              昇給の有無
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              賞与
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              年2回
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              年収
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              400万円
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              年収補足
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              賞与詳細：6月・12月＋業績により決算一時金
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              モデル年収
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              30歳　500万円
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              試用期間
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有 6ヶ月
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              試用期間補足
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              6か月間は有期の雇用とする。
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              裁量労働制
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              対象外
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              固定残業代
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              固定残業代補足
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              みなし残業時間30時間
            </td>
          </tr>
        </table>
      </div>

      <div class = "job__main__detail__content">
        <table class = "job__main__detail__content__table">
          <tr class = "job__main__detail__content__table__tr">
            <th class = "job__main__detail__content__table__tr__th__top">
              採用条件
            </th>
            <th class = "job__main__detail__content__table__tr__th__blank">
            </th>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              年齢
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              〜29歳
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              年齢制限理由
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              長期勤続によるキャリアの形成を図る観点から、若年者等を期間の定めのない労働契約の対象として募集・採用する場合
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              面接回数
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              3回
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              学歴
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              大卒
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              必要資格
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
               ■技術スキル<br>
              ・サーバAPI開発経験
              ・AWS/GCP/AzureなどのIaaSを活用したクラウド基盤の構築経験<br>
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              求める人物像
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              ■求める人物像<br>
              ・コミュニケーション能力の高い方、協調性のある方<br>
              ・弊社の事業内容に興味のある方
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              試験内容
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              ■選考フロー<br>
              ・1次面接：会社説明、面談(人事、他) ←ここで自社/受託/SESの部署分けが行われます。<br>
              ・2次面接：役員面談、現場責任者との顔合わせ
            </td>
          </tr>
        </table>
      </div>

      <div class = "job__main__detail__content">
        <table class = "job__main__detail__content__table">
          <tr class = "job__main__detail__content__table__tr">
            <th class = "job__main__detail__content__table__tr__th__top">
              待遇
            </th>
            <th class = "job__main__detail__content__table__tr__th__blank">
            </th>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              通勤手当
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              残業手当
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              その他手当
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              有
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              各種保険
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              社会保険完備
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              諸手当
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              ■通勤交通費（一律支給）<br>
              ■住宅手当（オフィスからの距離に応じて）<br>
              ■残業手当
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              休日休暇
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              完全週休2日制（土・日・祝）<br>
              年次有給休暇
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              年間休日
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              120日
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              転勤の有無
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              無
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              勤務地1
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              東京
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              勤務地2
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              大阪
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              勤務地3
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
            </td>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              勤務地4
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
            </td>
          </tr>
        </table>
      </div>

      <div class = "job__main__detail__content">
        <table class = "job__main__detail__content__table">
          <tr class = "job__main__detail__content__table__tr">
            <th class = "job__main__detail__content__table__tr__th__top">
              会社概要
            </th>
            <th class = "job__main__detail__content__table__tr__th__blank">
            </th>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              サーバーサイド1
            </td>
          </tr>
        </table>
      </div>

      <div class = "job__main__detail__content">
        <table class = "job__main__detail__content__table">
          <tr class = "job__main__detail__content__table__tr">
            <th class = "job__main__detail__content__table__tr__th__top">
              その他
            </th>
            <th class = "job__main__detail__content__table__tr__th__blank">
            </th>
          </tr>
          <tr class = "job__main__detail__content__table__tr">
            <td class = "job__main__detail__content__table__tr__td__title">
              <a href = "#">株式会社Div1</a>
            </td>
            <td class = "job__main__detail__content__table__tr__td__detail">
              サーバーサイド1
            </td>
          </tr>
        </table>
      </div>

    
      <div class = "job__main__detail__new">
        <a href = "#">企業新規登録</a>
      </div>
    </section>
  </div>
</main>

<div class="container">
        <div class="bnrL">
          <div class="top__contentbox__right ">
            <div class = "top__contentbox__right__comments">
              <%# 左コメント %>
              <div class="top__contentbox__right__comments__commentleft">
                <div class="top__contentbox__right__comments__commentleft__box">
                  <div class="top__contentbox__right__comments__commentleft__box__content">
                    <div class="top__contentbox__right__comments__commentleft__box__content__text">就職についてご相談があるのですが本日ははお時間ありますでしょうか</div>
                  </div>
                </div>
              </div>
              <div class="top__contentbox__right__comments__leftimage">
                <img src="image.jpg" width="40" height="40" class="icon">
              </div>
              <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
              <%# 右コメント %>
              <div class="top__contentbox__right__comments__commentright">
                <div class="top__contentbox__right__comments__commentright__box">
                  <div class="top__contentbox__right__comments__commentright__box__content">
                    <div class="top__contentbox__right__comments__commentright__box__content__text">本日はお休みなので明日の14時はご都合いかがでしょうか？</div>
                  </div>
                </div>
              </div>
              <div class="top__contentbox__right__comments__rightimage">
                <img src="image.jpg" width="40" height="40" class="icon">
              </div>
              <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->

            </div>
            <div class="top__contentbox__right__submit">
              <textarea class="top__contentbox__right__submit__message"></textarea>
              <div class="top__contentbox__right__submit__btn">送信</div>
            </div>
          </div>
            <button><img src="http://placehold.it/50x200/333/ffffff" alt="ボタン"></button>
      </div>
