<div class="top__chatbox__messagebox__message">
  <div class="top__chatbox__messagebox__message__left"></div>
  <div class="top__chatbox__messagebox__message__right"></div>
</div>
<div class="top__chatbox__messagebox__from">
  <div class="top__chatbox__messagebox__from__comment"></div>
  <div class="top__chatbox__messagebox__from__submit"></div>
</div>