.notice {
  background-color: #2d2d2d;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.alert {
  background-color: #FF0033;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0.9;
}
.success {
  background-color: #3CB371;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.header-title {
  height: 20px;
  width: 100vw;
  background-color: #2d2d2d;
  p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
.main-header {
  height: 80px;
  width: calc(100vw - 60px);
  padding: 0 30px;
  background-color: #fbfbfb;
  &__logo {
    float: left;
    &__link {
      width: 160px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 30px;
    }
  }
  &__content{
    height: 80px;
    width: 100%;
    position: relative;
    &__left {
      float: left;
      &__bloak {
        &__link-ca {
          display: inline-block;
          font-size: 14px;
          line-height: 40px;
          margin-top: 18px;
          margin-left: 10px;
          height: 40px;
          width: 100px;
          border: solid 2px #C34035;
          border-radius: 5px;
          color: #C34035;
          text-decoration: none;
          padding-left:16px;
          letter-spacing: 0.05em;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
      }
      &__home {
        display: inline-block;
        line-height: 40px;
        margin-top: 18px;
        padding-left:10px;
        height: 40px;
        width: 90px;
        border-radius: 5px;
        background-color: #fff;
        border: solid 2px #C34035;
        color: #C34035;
        text-decoration: none;
        margin-left: 10px;
        letter-spacing: 0.05em;
        &__link {
          font-size: 14px;
        }
        &:hover {
          background-color: #C34035;
          color: #fff;
        }
      }
      &__job {
        display: inline-block;
        line-height: 40px;
        margin-top: 18px;
        padding-left:10px;
        height: 40px;
        width: 90px;
        border-radius: 5px;
        background-color: #fff;
        border: solid 2px #C34035;
        color: #C34035;
        text-decoration: none;
        margin-left: 10px;
        letter-spacing: 0.05em;
        &__link {
          font-size: 14px;
        }
        &:hover {
          background-color: #C34035;
          color: #fff;
        }
      }
      &__students {
        display: inline-block;
        line-height: 40px;
        margin-top: 18px;
        padding-left:10px;
        height: 40px;
        width: 90px;
        border-radius: 5px;
        background-color: #fff;
        border: solid 2px #C34035;
        color: #C34035;
        text-decoration: none;
        margin-left: 10px;
        letter-spacing: 0.05em;
        &__link {
          font-size: 14px;
        }
        &:hover {
          background-color: #C34035;
          color: #fff;
        }
      }
    }
    &__right {
      float: right;

      &__bloak {
        &__link-st {
          font-size: 14px;
          display: inline-block;
          line-height: 40px;
          margin-top: 18px;
          padding-left:16px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: #C34035;
          border: solid 2px #C34035;
          color: #fff;
          text-decoration: none;
          margin-left: 10px;
          letter-spacing: 0.05em;
          &:hover {
            opacity: 0.7;
          }
        }
        // ここからログイン後
        &__login {
          display: inline-block;
        }
        .current_student-name {
          color: #333;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
        }
        &__image {
          position:  absolute;
          right: 350px;
          top: 16px;
          border-radius: 50px;
        }
        &__mypage {
          font-size: 14px;
          display: inline-block;
          line-height: 40px;
          margin-top: 18px;
          padding-left:16px;
          height: 40px;
          width: 90px;
          border-radius: 5px;
          background-color: #C34035;
          border: solid 2px #C34035;
          color: #fff;
          text-decoration: none;
          margin-left: 10px;
          letter-spacing: 0.05em;
          &:hover {
            opacity: 0.7;
          }
        }
        &__logout {
          font-size: 14px;
          display: inline-block;
          line-height: 40px;
          margin-top: 18px;
          padding-left:16px;
          height: 40px;
          width: 90px;
          border-radius: 5px;
          background-color: #fff;
          border: solid 2px #C34035;
          color: #C34035;
          text-decoration: none;
          margin-left: 10px;
          letter-spacing: 0.05em;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
      }
    }
  }



}
