.adviser-new {
  width: 100vw;
  height: 100vh;
  &__inner {
    margin: 60px auto;
    width: 600px;
    background-color: #fbfbfb;
    &__title {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.05em
    }
    &__text {
      margin-top: 20px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #696969;
    }
    &__main {
      margin: 20px auto;
      width: 450px;
      &__field {
        margin-top: 20px;
        &__label {

        }
        &__input {
          margin-top: 5px;
          height: 40px;
          width: 450px;
        }
      }
      &__submit {
        margin-top: 40px;
        height: 80px;
        width:450px;
        &__btn {
          margin: 0 auto;
          display: block;
          height: 40px;
          width:250px;
          border-radius: 10px;
          border: solid 2px #C34035;
          font-size: 14px;
          color: #C34035;
          &:hover {
              opacity: 0.8;
          }
        }
      }
    }
  }
}
