.ca__my{
  min-height: 100vh;
  background-color:#f1efef;
  width:100%;
  .ca__my__main{
    padding: 50px 30px;
    .ca__my__main__applying{
      .ca__my__main__applying__title{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .ca__my__main__applying__detail{
        max-height: 725px;
        overflow: scroll;
        .ca__my__main__applying__detail__table{
          width:100%;
          .ca__my__main__applying__detail__table__tr{
            border: solid 1px #eeebeb;
            .ca__my__main__applying__detail__table__tr__th__name{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__th__term{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__th__ca{
              width: 20%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__th__applying{
              width: 15%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__th__other{
              width: 35%;
              background-color: #C34035;
              color:#ffffff;
              text-align: center;
              border: solid 1px #9a9a9a;
            }
          //.st__my__main__applying__table__detail
            .ca__my__main__applying__detail__table__tr__td__name{
              background-color: #f3e8e8;
              height: 40px;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              a{
                text-decoration: none;
                color:#2490D0;
                font-weight: bold;
              }
            }
            .ca__my__main__applying__detail__table__tr__td__term{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__td__ca{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
              a{
                text-decoration: none;
                color:#2490D0;
              }
              .ca__my__main__applying__detail__table__tr__td__ca__pic{
                color: #2490D0;
              }
              .ca__my__main__applying__detail__table__tr__td__ca__pic:hover{
                color: #b3d4fc;
                cursor: pointer;
              }
            }
            .ca__my__main__applying__detail__table__tr__td__applying{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
            .ca__my__main__applying__detail__table__tr__td__other{
              background-color: #ffffff;
              padding-left: 5px;
              border: solid 1px #9a9a9a;
            }
          }
        }
      }
      .ca__my__main__applying__page{
        float: left;
        padding-top: 10px;
      }
      .ca__my__main__applying__new{
        float: right;
        padding-top: 10px;
      }
    }
  }
}
