<div class="container">
  <div class="bnrL">
    <div class="top__contentbox__right ">
      <div class = "top__contentbox__right__comments">
        <%# 左コメント %>
        <div class="top__contentbox__right__comments__commentleft">
          <div class="top__contentbox__right__comments__commentleft__box">
            <div class="top__contentbox__right__comments__commentleft__box__content">
              <div class="top__contentbox__right__comments__commentleft__box__content__text">就職についてご相談があるのですが本日ははお時間ありますでしょうか</div>
            </div>
          </div>
        </div>
        <div class="top__contentbox__right__comments__leftimage">
          <img src="image.jpg" width="40" height="40" class="icon">
        </div>
        <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
        <%# 右コメント %>
        <div class="top__contentbox__right__comments__commentright">
          <div class="top__contentbox__right__comments__commentright__box">
            <div class="top__contentbox__right__comments__commentright__box__content">
              <div class="top__contentbox__right__comments__commentright__box__content__text">本日はお休みなので明日の14時はご都合いかがでしょうか？</div>
            </div>
          </div>
        </div>
        <div class="top__contentbox__right__comments__rightimage">
          <img src="image.jpg" width="40" height="40" class="icon">
        </div>
        <div class="top__contentbox__right__comments__clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->

      </div>
      <div class="top__contentbox__right__submit">
        <%# <%= form_for @Chat do |f| %> 
        <%# <form action="./jobs/create" method="post"> %>
        <%# <%= f.text_field :comment, class: "top__contentbox__right__submit__message" %>  %>
        <%# <%= f.submit type: "submit" ,class: "top__contentbox__right__submit__btn" %>  %>
        <%# <% end %>  %> %> %>
      </div>
    </div>
  </div>
  <%# <button><img src="http://placehold.it/50x200/333/ffffff" alt="ボタン"></button> %>
</div>