<div class="top">

  <div class="top__chatbox">

    <div class="top__chatbox__groups">　
      <div class="top__chatbox__groups__group">
        <div class="top__chatbox__groups__group__image"></div>
        <div class="top__chatbox__groups__group__log"></div>
      </div>
    </div>

    <div class="top__chatbox__messagebox">
      <div class="top__chatbox__messagebox__message">
        <div class="top__chatbox__messagebox__message__left"></div>
        <div class="top__chatbox__messagebox__message__right"></div>
      </div>
      <div class="top__chatbox__messagebox__from">
        <div class="top__chatbox__messagebox__from__comment"></div>
        <div class="top__chatbox__messagebox__from__submit"></div>
      </div>
    </div>
  </div>
</div>












