.newtop{
  height: calc(100vh-100px);
  position: relative;
  background-color: #edeff1;
  &__page{
    height: 100% ;
    width: 100%;
    background-color: #edeff1;
    display: flex;
    &__box{
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
      width: 70%;
      border:1px solid black ;
      background-color: white;
      &__tittle{
        text-align: center;
          font-weight:700;
          font-size:25px;
        &__text{
          text-align: center;
          font-weight:700;
          font-size:25px;
        }
      }
      &__creategroup{
        display: flex;
        &__text{
          margin-top: 60px;
          margin-left: 20px;
          font-weight:700;
        }
        &__member{
          margin-top: 50px;
          margin-left: 20px;
          #group_student_id{
            height: 50px;
            width: 200px;
          }
          &__form{
          }
        }
      }
    }
  }
}
.newtop__page__box__creategroup__member__form{
  height: 70px;
  width: 100px;

}