.showtop{
  height: calc(100vh-100px);
  position: relative;
  &__chatbox{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: black;
    position:absolute;
    display: flex;

    &__groups{
      height: 85vh;
      // width: 20%;
      background-color: white;
      border:1px solid black ;
      display: inline-block;
      // display: flex;
      flex-direction: column;
      &__title{
        height: 25px;
        width: 368px;
        border-bottom:1px solid gray ;

        &__left{}
        &__right{}
      }
      &__group{
        overflow: scroll;
        height: 90%;
        width: 368px;
        // border:1px solid black ;

        // overflow:scroll;
        &__box{
          height:50px;
          padding:20px 10px;
          // border-top:1px solid gray ;
          border-bottom:1px solid gray ;
          // margin-top:20px;
          &__image{
            width: 40px;
            height:40px;
            float: left;
            margin-right: 5px;
            border:1px solid black ;
            border-radius: 100px;
          }
          &__main{
            float: left;
            margin-left: 20px;
            &__name{
            }
            &__log{
            }
          }
        }
        &__box:hover{
          background-color:#781f18;
        }
      }
    }
    &__messagebox{
      height: 100%;
      width: 80%;
      background-color: white;
      display: flex;
      flex-direction: column;
      display: inline-block;
      &__title{
        height: 50px;
        width: 100%;
        border:1px solid black;
        &__left{}
        &__right{}
      }
      &__mainbox{
          // height: 50%;
        &__messagebox{
          height: 70vh;
          overflow: scroll;
          &__messageL{
            height: 100px;
            width: 100%;
            // margin-top:10px;
            &__image{
              height: 40px;
              width: 40px;
              float: left;
              border:1px solid black ;
              margin: 5px;
              border-radius: 100px;
            }
            &__comment{
              float: left;
              position: relative;
              background-color:#ddd;
              border-radius:5px;
              color:#222;
              padding:8px;
            }
          }
          &__messageR{
            height: 100px;
            width: 100%;
            // margin-top:10px;
            &__image{
              height: 40px;
              width: 40px;
              float: right;
              border:1px solid black ;
              margin: 5px;
              border-radius: 100px;
            }
            &__comment{
              float: right;
              position: relative;
              background-color:#ddd;
              border-radius:5px;
              color:#222;
              padding:8px;
            }
          }
        }
      }
      &__submit{
        bottom: 0px;
        height: 50px;
        // background-color:gray;
        border:1px solid black;
        margin-top:10px;
        &__box{
          height:100%;
          &__leftbox{
            height: 40px;
            width: 80px;
            border:1px solid black;
            margin: 3px;
            float: left;
          }
          &__centercommentbox{
            height: 40px;
            width: 600px;
            border:1px solid black;
            margin: 3px;
            float: left;
            border-radius: 100px;
          }
          &__rightsubmitbox{
            height: 40px;
            width: 80px;
            border:1px solid black;
            margin: 3px;
            float: right;
          }
        }
      }
    }
  }
}
