<main class = "ca__my">
  <header class = "ca__my__header">
    ヘッダー
  </header>

  <div class = "ca__my__main">
    <section class = "ca__my__main__applying">
      <div class = "ca__my__main__applying__title">
        生徒一覧
      </div>
      <table class = "ca__my__main__applying__table">
        <tr class = "ca__my__main__applying__table__tr">
          <th class = "ca__my__main__applying__table__tr__th__name">
            名前
          </th>
          <th class = "ca__my__main__applying__table__tr__th__term">
            期
          </th>
          <th class = "ca__my__main__applying__table__tr__th__ca">
            担当CA
          </th>
          <th class = "ca__my__main__applying__table__tr__th__applying">
            応募企業数
          </th>
          <th class = "ca__my__main__applying__table__tr__th__other">
            備考
          </th>
        </tr>
        <tr class = "ca__my__main__applying__table__tr">
          <td class = "ca__my__main__applying__table__tr__td__name">
            <a href = "/students/show/">雨笠 翔</a>
          </td>
          <td class = "ca__my__main__applying__table__tr__td__term">
            52
          </td>
          <td class = "ca__my__main__applying__table__tr__td__ca">
            (未登録) "担当になる"
          </td>
          <td class = "ca__my__main__applying__table__tr__td__applying">
            1社
          </td>
          <td class = "ca__my__main__applying__table__tr__td__other">
            年収希望最低100万
          </td>
        </tr>
        <tr class = "ca__my__main__applying__table__tr">
          <td class = "ca__my__main__applying__table__tr__td__name">
            <a href = "/students/show/">雨笠 賞</a>
          </td>
          <td class = "ca__my__main__applying__table__tr__td__term">
            53
          </td>
          <td class = "ca__my__main__applying__table__tr__td__ca">
            半谷
          </td>
          <td class = "ca__my__main__applying__table__tr__td__applying">
            2社
          </td>
          <td class = "ca__my__main__applying__table__tr__td__other">
            
          </td>
        </tr>
        <tr class = "ca__my__main__applying__table__tr">
          <td class = "ca__my__main__applying__table__tr__td__name">
            <a href = "/students/show/">雨笠 小</a>
          </td>
          <td class = "ca__my__main__applying__table__tr__td__term">
            54
          </td>
          <td class = "ca__my__main__applying__table__tr__td__ca">
            鈴木
          </td>
          <td class = "ca__my__main__applying__table__tr__td__applying">
            3社
          </td>
          <td class = "ca__my__main__applying__table__tr__td__other">
            
          </td>
        </tr>
        <tr class = "ca__my__main__applying__table__tr">
          <td class = "ca__my__main__applying__table__tr__td__name">
            <a href = "/students/show/">雨笠 商</a>
          </td>
          <td class = "ca__my__main__applying__table__tr__td__term">
            55
          </td>
          <td class = "ca__my__main__applying__table__tr__td__ca">
            阿部
          </td>
          <td class = "ca__my__main__applying__table__tr__td__applying">
            4社
          </td>
          <td class = "ca__my__main__applying__table__tr__td__other">
            ベンチャー希望
          </td>
        </tr>
        <tr class = "ca__my__main__applying__table__tr">
          <td class = "ca__my__main__applying__table__tr__td__name">
            <a href = "/students/show/">雨笠 商小賞</a>
          </td>
          <td class = "ca__my__main__applying__table__tr__td__term">
            56
          </td>
          <td class = "ca__my__main__applying__table__tr__td__ca">
            (未登録) "担当になる"
          </td>
          <td class = "ca__my__main__applying__table__tr__td__applying">
            5社
          </td>
          <td class = "ca__my__main__applying__table__tr__td__other">
            カフェ経営する
          </td>
        </tr>
      </table>
      <div class = "ca__my__main__applying__page">
        page nation
      </div>
      <div class = "ca__my__main__applying__all">
        <a href = "#">→ 全てみる</a>
      </div>
      <div class = "ca__my__main__applying__new">
        <a href = "#">生徒新規登録</a>
      </div>
    </section>
    <section class = "ca__my__main__keepca">
      <div class = "ca__my__main__keepca__title">
        企業一覧
      </div>
      <table class = "ca__my__main__keepca__table">
        <tr class = "ca__my__main__keepca__table__tr">
          <th class = "ca__my__main__keepca__table__tr__th__name">
            企業名
          </th>
          <th class = "ca__my__main__keepca__table__tr__th__position">
            ポジション
          </th>
          <th class = "ca__my__main__keepca__table__tr__th__salary">
            年収
          </th>
          <th class = "ca__my__main__keepca__table__tr__th__location">
            勤務地
          </th>
          <th class = "ca__my__main__keepca__table__tr__th__status">
            確認
          </th>
        </tr>
        <tr class = "ca__my__main__keepca__table__tr">
          <td class = "ca__my__main__keepca__table__tr__td__name">
            <a href = "#">株式会社Div1</a>
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__position">
            サーバーサイド1
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__salary">
            1000万
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__location">
            ラスベガス
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__status">
            確認
          </td>
        </tr>
        <tr class = "ca__my__main__keepca__table__tr">
          <td class = "ca__my__main__keepca__table__tr__td__name">
            <a href = "#">株式会社Div2</a>
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__position">
            サーバーサイド2
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__salary">
            2000万
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__location">
            ロサンゼルス
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__status">
            確認
          </td>
        </tr>
        <tr class = "ca__my__main__keepca__table__tr">
          <td class = "ca__my__main__keepca__table__tr__td__name">
            <a href = "#">株式会社Div3</a>
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__position">
            サーバーサイド3
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__salary">
            3000万
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__location">
            コペンハーゲン
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__status">
            確認
          </td>
        </tr>
        <tr class = "ca__my__main__keepca__table__tr">
          <td class = "ca__my__main__keepca__table__tr__td__name">
            <a href = "#">株式会社Div4</a>
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__position">
            サーバーサイド4
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__salary">
            4000万
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__location">
            ワシントンD.C.
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__status">
            確認
          </td>
        </tr>
        <tr class = "ca__my__main__keepca__table__tr">
          <td class = "ca__my__main__keepca__table__tr__td__name">
            <a href = "#">株式会社Div5</a>
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__position">
            サーバーサイド5
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__salary">
            5000万
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__location">
            シリコンバレー
          </td>
          <td class = "ca__my__main__keepca__table__tr__td__status">
            確認
          </td>
        </tr>
      </table>
      <div class = "ca__my__main__keepca__page">
        page nation
      </div>
      <div class = "ca__my__main__keepca__all">
        <a href = "#">→ 全てみる</a>
      </div>
      <div class = "ca__my__main__keepca__new">
        <a href = "#">企業新規登録</a>
      </div>
    </section>
  </div>
</main>
