<main class = "ca__my">

  <div class = "ca__my__main">
    <section class = "ca__my__main__applying">
      <div class = "ca__my__main__applying__title">
        生徒一覧
      </div>
      <div class = "ca__my__main__applying__detail">
        <table class = "ca__my__main__applying__detail__table">
          <tr class = "ca__my__main__applying__detail__table__tr">
            <th class = "ca__my__main__applying__detail__table__tr__th__name">
              名前
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__term">
              期
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__ca">
              担当CA
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__applying">
              応募企業数
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__other">
              備考
            </th>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 翔</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              52
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              1社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              年収希望最低100万
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              53
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              半谷
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              2社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 小</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              54
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              鈴木
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              3社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              55
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              阿部
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              4社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              ベンチャー希望
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 翔</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              52
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              1社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              年収希望最低100万
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              53
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              半谷
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              2社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 小</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              54
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              鈴木
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              3社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              55
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              阿部
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              4社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              ベンチャー希望
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 翔</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              52
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              1社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              年収希望最低100万
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              53
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              半谷
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              2社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 小</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              54
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              鈴木
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              3社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              55
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              阿部
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              4社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              ベンチャー希望
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
          <tr class = "ca__my__main__applying__detail__table__tr">
            <td class = "ca__my__main__applying__detail__table__tr__td__name">
              <a href = "/students/show/">雨笠 商小賞</a>
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__term">
              56
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__ca">
              (未登録) "担当になる"
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__applying">
              5社
            </td>
            <td class = "ca__my__main__applying__detail__table__tr__td__other">
              カフェ経営する
            </td>
          </tr>
        </table>
      </div>
      <div class = "ca__my__main__applying__new">
        <a href = "#">生徒新規登録</a>
      </div>
    </section>
  </div>
</main>
