<main class = "ca__my">

  <div class = "ca__my__main">
    <section class = "ca__my__main__applying">
      <div class = "ca__my__main__applying__title">
        生徒一覧
      </div>
      <div class = "ca__my__main__applying__detail">
        <table class = "ca__my__main__applying__detail__table">
          <tr class = "ca__my__main__applying__detail__table__tr">
            <th class = "ca__my__main__applying__detail__table__tr__th__name">
              名前
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__term">
              期
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__ca">
              担当CA
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__applying">
              応募企業数
            </th>
            <th class = "ca__my__main__applying__detail__table__tr__th__other">
              備考
            </th>
          </tr>
          <% @students.each do |student| %>
            <tr class = "ca__my__main__applying__detail__table__tr">
              <td class = "ca__my__main__applying__detail__table__tr__td__name">
                <%= link_to student.name, student_path(student.id)%>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__term">
                <%= student.period %>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__ca">
                <%= student.advisor.name %>
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__applying">
                <%= student.student_jobs.count%>社
              </td>
              <td class = "ca__my__main__applying__detail__table__tr__td__other">
                
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </section>
  </div>
</main>
